<p style="color: green"><%= notice %></p>

<%= render @group %>

<h1>Payments</h1>
<% @payments.each do |payment| %>
  <h4><%= payment.name %></h4>
  <p><%= payment.amount %></p>
  <p><%= payment.created_at.strftime("%F %R") %></p>
<% end %>

<div>
  <%= link_to "Add new payment",  new_group_payment_path(@group) %> |
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
