<nav class="navbar bg-primary w-100 p-4">
  <%= link_to groups_path, :class => 'back__icon' do %>
    <i class="fa-sharp fa-solid fa-arrow-left-long"></i>
  <% end %>
  <h5>DETAILS</h5>
  <% if can? :delete, @groups %>
  <%= button_to "Delete group", @group, method: :delete, :class => 'btn btn-outline-danger' %>
  <% end %>
</nav>

<div class="group__payment__details">
<div class="group__icon" style="padding: 0.5rem">
  <img class=".rounded-circle category-image" src="<%= @groups.icon %>" alt="Group Icon" width="120" height="150">
  <h4><%= @groups.name %></h4>
</div>
<div class="group__payment_summary">
<h5>Balance</h5>
<p>$<%= @groups.payments.sum(:amount) %></p>
</div>
<div class="payments--container">
<% @groups.payments.order(created_at: :desc).each do |payment| %>
  <div class="single__payment">
    <div class="group__properties">
      <h4><%= payment.name %></h4>
        <p>$<%= payment.amount %></p>
        <p><%= payment.created_at.strftime("%d %B, %Y") %></p>
    </div>
  </div>
<% end %>
</div>
<div class="fixed-bottom mb-0">
<%= link_to "ADD NEW PAYMENT", new_group_payment_path(@groups), class: "btn btn-success text-align-center w-100 p-3" %>
</div>
</div>
