<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/ecb44d8fff.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash.notice %>
    <p class="alert alert-primary mt-5" role="alert"><%= notice %></p>
    <% end %>
    <% if flash.alert %>
    <p class="alert alert-danger mt-5" role="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
